.checkoutProduct {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.checkoutProduct > .checkoutProduct__info {
    margin-left: 20px;
}

.checkoutProduct > img {
    width: 300px;
}

button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    outline: 0;
    padding: 2px;
}