.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
}

.header__logo {
    width: 120px;
    margin: 18px 20px 0px; /* top - 18px, right-left - 20px bottom - 0px */
}

.header__search {
    display: flex;
    align-items: center;
    flex: 1;
}


.header__searchInput {
    height: 12px;
    padding: 12px;
    border: none;
    width: 100%;
    outline: none;
}

.fa-search {
    padding: 5px;
    height: 24px !important;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.header__link {
    color: #ffffff;
    text-decoration: none;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.fa-shopping-basket {
    font-size: 20px;
}

.header__basketCount {
   margin-left: 10px;
   margin-right: 10px;
}
