* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(240, 240, 240); */
  -webkit-user-select: none;
}

body {
  background-color: rgb(238, 238, 238)
}

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}